<form id="update-post">
  <fieldset>
    <legend>Update a Post!</legend>
    <input name="post[id]" type="text" placeholder="ID" required>
    <input name="post[title]" type="text" placeholder="Title" required>
    <input name="post[description]" type="text" placeholder="Description" required>
    <input name="post[recipe]" type="text" placeholder="Recipe" required>
    <input name="post[rating]" type="text" placeholder="Rating" required>
    <input type="submit" value="Update">
  </fieldset>
</form>
