@import '~bootstrap/scss/bootstrap';

.posts {
  border: 2px solid black;
  border-radius: 10%;
  margin: 6px 6px;
  padding: 8px;
}

.btn-outline-danger {
  border: 3px solid;
  margin: 5px;
}

.btn-outline-primary {
  border: 3px solid;
  margin: 5px;
}

h6 {
  color: yellow;
}

h1 {
  text-align: center;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  margin: auto;
  display: flex;
}

.change-password {
  margin: auto;
}

.form-group {
  margin: auto;
}
